
<center>
<table class="game">
  <tr class="top">
    <td class="left"><a href="#">X</a></td>
    <td class="middle"><a href="#">O</a></td>
    <td class="right"><a href="#">O</a></td>
  </tr>
  <tr class="mid">
    <td class="left"><a href="#">X</a></td>
    <td class="middle"><a href="#">X</a></td>
    <td class="right"><a href="#">O</a></td>
  </tr>
  <tr class="bot">
    <td class="left"><a href="#">O</a></td>
    <td class="middle"><a href="#">O</a></td>
    <td class="right"><a href="#">X</a></td>
  </tr>
</table>
</center>
