<center>
<form action="game_settings" method="post">
  <input type="hidden" name="player1" value="human">
  <h1>Select your opponent</h1>
  <button type="submit" name="player2" value="human">Human
  <button type="submit" name="player2" value="random">Random
  <button type="submit" name="player2" value="sequential">Sequential
  <button type="submit" name="player2" value="unbeatable">Unbeatable
</form>
</center>
