<center>
<form action="game_settings" method="post">
  <input type="hidden" name="player1" value="human">
  <h1>Select your opponent</h1>
  <button class="btn" type="submit" name="player2" value="human">Human</button><br><br>
  <button class="btn" type="submit" name="player2" value="random">Random</button><br><br>
  <button class="btn" type="submit" name="player2" value="sequential">Sequential</button><br><br>
  <button class="btn" type="submit" name="player2" value="unbeatable">Unbeatable</button>
  <br>
  <h5>Size:</h5>
  <input required type="radio" name="size" value="3" checked> 3x3<br>
  <input required type="radio" name="size" value="5"> 5x5<br>
  <input required type="radio" name="size" value="7"> 7x7<br>
</form>
</center>
