<form action="game_settings" method="post">
  <h1>Player 1</h1>
  <input type="radio" name="player1" value="human">Human
  <input type="radio" name="player1" value="random">Random
  <input type="radio" name="player1" value="sequential">Sequential


  <h1>Player 2</h1>
  <input type="radio" name="player2" value="human">Human
  <input type="radio" name="player2" value="random">Random
  <input type="radio" name="player2" value="sequential">Sequential
  <br>
  <br>
  <input type="submit" value="Start Game">
</form>
