td {
  text-align: center;
}

.game td {
  width: 100px;
  height: 100px
}
.cell {
  width: 75px;
  height: 75px;
}
table{
  border-collapse:collapse;
}
.top {
  border-top: 2px solid black;
}
.bottom {
  border-bottom: 2px solid black;
}
.right {
  border-right: 2px solid black;
}
.left {
  border-left: 2px solid black;
}
.btn {
  opacity:0;
}
.btn:hover{
  opacity: 50;
}
